body {
    color:red;
    background-color: #a3a0a0;
    }
ul { 
    width: 250px;
    background-color: rgb(107, 0, 107);
    }
h1 {
    color: white;
    word-spacing: 10px;
    font-family: 'Comic Sans MS', cursive;
    }
p {
   text-align: center;
   width: 250px;
   background-color: olive;
    } 
h3 {
    font-style: italic;
    text-transform:uppercase;
    font-family: 'Comic Sans MS', cursive;
}